.project {
    padding: 1rem;
    margin: 1rem;
    display: flow-root;
}

.project h3 {
    color: var(--complement-color);
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.project img {
    max-width: 250px;
    height: auto;
    display: block;
    margin-inline: auto;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.project ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.project li {
    margin-left: 1rem;
}

.project ul, .project a {
    flex-grow: 2;
    font-size: 1.25rem;
}

.project a {
    display: block;
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;

    color: var(--text-color);
}

.project a:hover {
    color: var(--nav-hover-color);
}

@media (width <= 550px) {
    .project img {
        max-width: 200px;
        height: auto;
    }
}

@media (width <= 375px) {
    .project img {
        max-width: 150px;
        height: auto;
    }
}