/* 
    =============================
    Global styles for the website
    =============================
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #f5f5f5;
  --section-bg-color: #242323a6;
  --nav-hover-color: #94C7B6;
  --complement-color: #fc4f4f;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);

  background-color: rgb(11, 55, 1);
  background: radial-gradient(rgb(15, 74, 1), rgba(18, 18, 18, 1));
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
  background-size: cover;
  background-position: center;
}