/* 
    =============================
    Global styles for the website
    =============================
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: whitesmoke;
  --section-bg-color: rgba(36, 35, 35, 0.65);
  --nav-hover-color: #94C7B6;
  --complement-color: rgb(252, 79, 79);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);

  background-color: rgb(11, 55, 1);
  background: radial-gradient(rgb(15, 74, 1), rgba(18, 18, 18, 1));
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
  background-size: cover;
  background-position: center;
}