#message-section {
    padding: 2rem;
    margin: 2rem;
    margin-top: 0;
}

#message-section h2 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: underline;
}

.message-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: flex-start;
}
